* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Public Sans", sans-serif;
}
/* common */
.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.btn {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 14px 52px;
    border-radius: 40px;
    border: 1.5px solid #143c3c;
    background: var(--Primary-color-black-green, #143c3c);
    cursor: pointer;
}
/* body */

.header {
}
.header__top {
    padding: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #a2cfdd;
    border-radius: 999px;
}
.logo {
    display: flex;
    align-items: center;
}
.logo__branch {
    margin-left: 8px;
    color: #000;
    font-weight: 700;
}
.navbar .list {
    display: flex;
}
.nav__link {
    color: #575d5e;
    padding: 8px 12px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.56;
}
.nav__link:hover {
    color: var(--Primary-color-black, #152427);
    font-size: 1.4rem;
    font-weight: 500;
    text-shadow: 1px 0 0 currentColor;
}
/* HERO */
.hero {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}
.hero__content {
    width: 35%;
}
.hero__heading {
    width: 368px;
    color: #152427;
    font-family: "Public Sans";
    font-size: 50px;
    font-weight: 800;
    line-height: 60px;
}
.hero__desc {
    padding: 20px 0 42px;
    width: 341px;
    color: #575d5e;
    font-family: "Public Sans";
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}
.hero__row {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.hero-btn {
    margin-right: 36px;
}
.hero__watch {
    display: block;
    margin-left: 15px;
}
.hero__media {
    width: 65%;
    display: flex;
}
.hero__images {
    display: flex;
    column-gap: 20px;
    margin-left: auto;
}
.hero__img-center {
    border-radius: 340px;
    background: #4dbb9a;
    top: 77px;
    position: relative;
}
.rectangle {
    margin: 200px 0;
}
.rectangle__list {
    border-radius: 100.5px;
    background: #e2eddf;
    padding: 85px 121px;
    display: flex;
    align-items: center;
    column-gap: 50px;
}
.rectangle-row {
    display: flex;
    align-items: center;
}
.rectangle-desc {
    margin-left: 11px;
    color: #163c35;
    font-size: 26px;
    font-weight: 400;
}
/* SERVICE */
.service__top {
    margin-bottom: 76px;
}
.service-desc {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    color: #152427;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}
.service-desc::after {
    top: 12px;
    left: 0;
    display: block;
    content: "";
    width: 25px;
    height: 1px;
    position: absolute;
    background-color: #000;
}
.service-heading {
    position: relative;
    color: #152427;
    width: 512px;
    font-family: Poppins;
    font-size: 42px;
    font-weight: 600;
    line-height: 52px;
}
.service-heading::after {
    position: absolute;
    content: "";
    display: block;
    left: 300px;
    top: 80px;
    background-color: #000;
    width: 66px;
    height: 2px;
}
.service-box {
    display: flex;
    gap: 18px;
    margin-right: 50px;
}
.service__top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.service-box__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    background-color: #4dbb9a;
}
.service__bottom {
}
.service__list {
    display: flex;
}
.service__list-item {
    width: 33.33%;
    gap: 16px;
}
.service__list-item:hover {
    border-radius: 20px;
    background: #fff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}
.service-img {
    flex-shrink: 0;
    width: 370px;
    height: 318px;
    border-radius: 20px 20px 0px 0px;
}
.service__list-item .heading {
    margin: 24px 0 18px;
    color: #152427;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 100% */
}
.service__list-item .desc {
    width: 268px;
    color: var(--text-color-light-gray, #7d8188);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
/* /* ABout  */
.about {
    padding-top: 157px;
}
.about-row {
    display: flex;
    justify-content: space-between;
}
.about__section-media {
    width: 51%;
}
.section-images {
    display: flex;
    justify-content: space-between;
}
.section__img-bottom {
    position: relative;
    top: 70px;
}
.section__img {
    width: 284px;
    height: 480px;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 210px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}
.about__section-content {
    width: 42%;
}
.section__content-title {
    display: flex;
    align-items: center;
    color: #152427;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}
.section__content-title::before {
    position: relative;
    margin-right: 10px;
    content: "";
    display: block;
    width: 24px;
    height: 2px;
    background-color: #000;
}
.section__heading {
    padding: 20px 0 11px;
    color: #152427;
    font-family: Poppins;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
}
.section-desc {
    color: #7d8188;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}
.section-item {
    margin-top: 38px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 24px;
}
.section__item-heading {
    margin-right: 24px;
    color: #152427;
    font-family: Poppins;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
}
.section__item-desc {
    color: #7d8188;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
